h1{
font-size: 62px;
margin-left: 30px;
  
}

h2{
 font-size: 32px;
 margin-left: 30px;
 color: brown;
  
}

p {
  margin-left: 30px;
}

.AnnaHeader {
  background-color: yellow;
  color: Blue;
  padding-bottom: 30px;
  padding-top: 2px;
  text-align: center;
}

.AnnaHeader img {
  width: 500px;
    height: auto;
  
}

img {
  width: 300px;
  height: auto;
  
}

body {
  background-color: lightblue;
  
}